<h1>Enter a definition for <%= @word.new_word %> <h1>

<form action="/definitions" method="post">
  <input name="word_id" type="hidden" value="<%= @word.id() %>">
    <label for="definition">New definition</label>
    <input name="definition" type="text">
    <button type="submit">Add!</button>
  </form>
