<h1>Here are all your definitions for <%= @word.new_word %> :</h1>

<ul>
  <li><% @definitions.each() do |definition| %>
    <%= definition.new_definition %></li>
    <% end %>
</ul>

<a href="/">Word list</a>
