<h1>Add a definition to <%= @word.new_word %> </h1>

<form action="/definitions" method="post">
  <input name="word_id" type="hidden" value="<%= @word.id %>">
  <label for="definition">Definition</label>
  <input name="definition" type="text">
  <button type="submit">Add definition</button>
</form>
<br>
<a href="/">My words!</a>
