</h1> Definitions for your word</h1>

<ul>
  <% @word.definitions().each() do |definition| %>
  <li><%= definition.new_definition() %>
<% end %>
</ul>

<a href="/">List of words</a>
<a href="/word/<%= @word.id %>/definitions/new">Add a definition</a>
