<h3>Here are all your definitions for <%= @word.new_word %>:</h3>
<ul>
  <% @word.definitions.each() do |definition| %>
    <li><%= definition.new_definition %></li>
  <% end %>
</ul>
<a href="/words/<%= @word.id %>/definitions/new">Add a new definition</a><br>
<br><a href="/">My words!</a>
