<h1>Here's where you enter a new word!</h1>
<form action="/word" method="post">
<label for="word">New word</label>
<input name="word" type="text">
<button type="submit">Add my word!</button>
</form>
<a href="/">Word list</a>
