<h3>Here are all the definitions for this word:</h3>

<ul>
  <% @word.definitions.each() do |definition| %>
    <li><%= definition.new_definition %></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id %>/definitions/new">Add a new definition</a>
<a href="/">Home</a>
